
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>	
		<div id="red"></div>	
		<div id="purple"></div>		
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}

<script type="text/javascript" src="{{'/assets/js/script.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
{% for script in page.scripts %}<script type="text/javascript" src="{{'/assets/js/' | append:script | prepend:site.baseurl | prepend: site.url  }}"></script>
{%endfor%}

{%- if site.texture.useMathJax -%}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{%- endif -%}
</script>


